@model TaskWeb.Models.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Главная страница";
}

@using Dal.DBObjects

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    function ShowMessage() {
        var result = confirm("Удаление отдела возможно,только при отсутствии в нём подотделов и сотрудников");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
    $(document).ready(function () ) {

        $("#Name").keydown(function () ) {

            var searchtext = $(this).val();
            debugger
            $ajax({

                type: "Post",
                url: "/Home/Find?SearchText=" + searchtext,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#employeeRow").html(response);
                }
            })
        }
    }
</script>


@helper BuildTree(List<Department> departments)
{
    <ul>
        @for (int i = 0; i < departments.Count; i++)
        {
            <li>
                <div class="comment" data-title="@Html.DisplayFor(modelItem => departments[i].Comment)">
                    <p style="color:@(departments[i].Id == Model.SelectedId?"black":"blue")">@Ajax.ActionLink(departments[i].Title, "AllForDepartment",new {id = departments[i].Id}, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "EmployeeTable" })</p>
                    @*<a href=@Url.Action("Index", "Home", new { id = departments[i].Id }) style="color:@(departments[i].Id == Model.SelectedId?"black":"blue")">@Html.DisplayFor(modelItem => departments[i].Title)</a>*@
                </div>
                <div style="float:left">(@departments[i].Employees.Count() ,</div><div class="info" style="color:@(Model.SelectedPensioners.Contains(departments[i].Id)?"red":"black");float:left">@departments[i].PensionersCount)</div>
                <div>
                    <a href=@Url.Action("Edit","Department",new {parentid = departments[i].Id}) id="Add"><img src="~/Content/plus.png" style="width:1.5em;height:1.4em"></a>
                    <a href=@Url.Action("Edit","Department",new { id = @departments[i].Id }) id="Add"><img src="~/Content/edit.png" style="width:1.5em;height:1.4em"></a>
                    <a href=@Url.Action("Delete","Department",new { id = departments[i].Id }) id="Add" onclick="javascript:return ShowMessage();"><img src="~/Content/delete.png" style="width:1.5em;height:1.4em"></a>
                </div>
                @BuildTree(departments[i].Children)
            </li>
        }
    </ul>
}

<h1 style="margin-left:330px">Каталог подразделений</h1>
<div style="float:left">
    <a href=@Url.Action("Edit","Department") id="Add"><img src="~/Content/plus.png" style="width:1.5em;height:1.4em"> - Добавление отдела</a>
    @BuildTree(Model.Departments)
</div>
<div>
    <div class="scrollable" style="float:right">
        <a href=@Url.Action("Edit","Employee",new { departmentid = Model.SelectedId}) id="Add" class="btn-link"><img src="~/Content/plus.png" style="width:1.5em;height:1.4em"></a>
        @Ajax.ActionLink("Все", "All",new AjaxOptions {HttpMethod = "POST",InsertionMode = InsertionMode.Replace, UpdateTargetId = "EmployeeTable" })
        @Ajax.ActionLink("С вложенными", "AllWith", new { id = Model.SelectedId }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "EmployeeTable" })
        <table class="table-striped table-hover">
            <tr>
                <th>ФИО</th>
                <th>Дата рождения</th>
                <th>Пол</th>
                <th>Телефон</th>
                <th>Примечание</th>
            </tr>
            <tbody id="EmployeeTable">
                @Html.Partial("TableEmployee", Model.Employees)
            </tbody>
        </table>
    </div>
</div>

