@model List<Dal.DBObjects.Employee>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIO)
        </td>
        <td>
            @{
                string date = item.Date.ToShortDateString();
            }
            @Html.DisplayFor(modelItem => date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenderStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            <a href=@Url.Action("Edit","Employee",new { id = item.Id,departmentid = item.DepartmentId }) id="Add"><img src="~/Content/edit.png" style="width:1.5em;height:1.4em"></a>
            <a href=@Url.Action("Delete","Employee",new { id = @item.Id}) id="Add"><img src="~/Content/delete.png" style="width:1.5em;height:1.4em"></a>
        </td>
    </tr>
}

